---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout title="الصفحة غير موجودة">
    <div
        class="wrapper min-h-screen mt-32 pb-16 px-6 overflow-hidden max-w-xl flex flex-col justify-center items-center gap-8"
    >
        <img class="max-w-sm w-full" src="/images/404.png" alt="404 Page Not Found">
        <h1 class="text-primary text-4xl">الصفحة غير موجودة</h1>
        <Button href="/#home" class="text-white bg-accent hover:bg-primary">العودة الى الرئيسية</Button>
    </div>
</Layout>
