---
const { class: additionalClasses, ...props } = Astro.props;

// Default classes for the button
const defaultClasses = "block px-4 rounded-tl-3xl rounded-br-3xl";
const combinedClasses = `${defaultClasses} ${additionalClasses ?? ""}`;
---


<span class={combinedClasses} {...props}>
    <slot />
</span>
