---
const { class: additionalClasses, ...props } = Astro.props;

// Default classes for the button
const defaultClasses = "font-bold text-2xl";
const combinedClasses = `${defaultClasses} ${additionalClasses ?? ""}`;
---

<h2 class={combinedClasses} {...props}>
    <slot />
</h2>

