---
import Button from "../components/Button.astro";
---

<header class="relative z-10 flex items-center justify-center">
    <div
        class="container flex justify-center md:justify-between items-center bg-white px-4 py-6 lg:rounded-md shadow-md max-w-6xl absolute top-3 "
    >
        <a href="/"><img src="/logo.svg" alt="" style="width: 150px;"></a>
        <div class="hidden md:flex justify-end">
            <nav aria-label="Sitemap">
                <ul class="flex  gap-8">
                    <li><a href="/#features">خصائص النظام</a></li>
                    <li><a href="/#clients">عملاؤنا</a></li>
                    <li><a href="/#contact">تواصل معنا</a></li>
                    <li><Button href="/#demo" class="text-white bg-accent hover:bg-primary">تجربة النظام</Button></li>
                </ul>
            </nav>
        </div>
    </div>
</header>